{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>{{"product.index.title"|trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{"product.index.name"|trans}}</th>
                <th>{{"product.index.description"|trans}}</th>
                <th>{{"product.index.price"|trans}}</th>
                <th>{{"product.index.stock"|trans}}</th>
                <th>{{"product.index.photo"|trans}}</th>
                <th>{{"product.index.actions"|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.Nom }}</td>
                <td>{{ produit.Description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.stock }}</td>
                 {% if produit.photo is not null %}
                    <td>
                        <img style="width:50%;" src="{{ asset('uploads/' ~ produit.photo) }}">
                    </td>
                {% endif %} 
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">{{"product.index.show"|trans}}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{"product.index.noProduct"|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produit_new') }}">{{"product.index.createProduct"|trans}}</a>
{% endblock %}
