{% extends 'base.html.twig' %}

{% block title %}{{product.show.title}}{% endblock %}

{% block body %}
    <h1></h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>{{product.show.name}}</th>
                <td>{{ produit.Nom }}</td>
            </tr>
            <tr>
                <th>{{product.show.description}}</th>
                <td>{{ produit.Description }}</td>
            </tr>
            <tr>
                <th>{{product.show.price}}</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>{{product.show.stock}}</th>
                <td>{{ produit.stock }}</td>
            </tr>
            <tr>
                 {% if produit.photo is not null %}
                 <td>{{product.show.photo}}</td>
                    <td>
                        <img style="width:50%;" src="{{ asset('uploads/' ~ produit.photo) }}">
                    </td>
                {% endif %} 
            </tr>
        </tbody>
    </table>
      {% if is_granted('ROLE_ADMIN') %}
        <div class='d-flex align-items-center'>
            <a href="{{ path('produit_edit', {'id': produit.id}) }}" class="btn btn-primary">{{product.show.edit}}</a>
            {{ include('produit/_delete_form.html.twig') }}
        </div>
    {% endif %}

    <a href="{{ path('home') }}">back to list</a>
  

<h2>{{product.show.addToCart}}</h2>
    {{form(form)}}

{% endblock %}
