<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('img/logo.png') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       
        {% block stylesheets %}
             <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <nav class="d-flex justify-content-between p-3">
                <div>
                    <a href='{{ path('home')}}'>}</a>   
                </div>
                {% if app.user is not null %}    
                    <div>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a href="{{ path('seeUser') }}">{{base.user}</a>
                             <span> | <span>
                            <a href="{{ path('commande_nonPayer') }}">{{base.currentOrder}</a>
                            <span> | <span>
                        {% endif %} 
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href='{{ path('produit_new')}}'>{{base.addProduct}}</a>
                            <span> | <span>
                        {% endif %}
                        
                            <a href='{{ path('panier')}}'>{{base.cart}}</a>
                            <span> | <span>
                            
                        
                            <a href='{{ path('commande')}}'>{{base.orders}}</a>
                            <span> | <span>
                            <a href="{{ path('compte', {'id': app.user.id} ) }}">{{base.account}}</a>
                             <span> | <span>
                        <a href="{{ path('app_logout') }}">{{base.logout}}</a>
                    </div>
                {% else %}
                    <div>
                        <a href="{{ path('app_login') }}">{{base.login}}</a>
                        <span>/<span>
                        <a href="{{ path('app_register') }}">{{base.register}}</a>
                    </div>
                {% endif %}

            </nav>
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <p class="my-2 alert alert-{{ type }}">{{ message }}</p>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}

        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>

